.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

form[name="loginForm"]{
  display: flex;
  flex-direction: column;
  width: 450px;
  padding: 10px;
}

.form-group{
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

label{
  min-width: 180px;
  width: 180px;
  font-weight: bold;
  font-size: 25px;
}

input[type="email"], input[type="password"]{
  box-sizing: border-box;
  height: 40px;
  padding: 3px;
  flex-grow: 1;
  font-size: 25px;
}

input[type="submit"]{
  align-self: flex-end;
  width: 100px;
  height: 50px;
  border: 3px solid lightgray;
  border-radius: 5px;
  font-size: 20px;
  background: white;
}

.message{
  font-size: 25px;
  margin-top: 10px;
  text-align: right;
}